VITE_SUPABASE_URL=https://osaoedamapjsiqakkbgo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zYW9lZGFtYXBqc2lxYWtrYmdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwMTM3NDQsImV4cCI6MjEwMTU4OTc0NH0.deqNl7OqL63ryf7D7Qun6X_ooo6CC5qljlvQFsGQ4AE
